<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CGY_Animate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD4D62CF1E4A0EE50054EA3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4D62E81E4A0EE50054EA3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD4D62F31E4A0EE50054EA3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
